:root  > * {
  --md-primary-fg-color:        #830000;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;

  /*font schemes*/
  --md-text-font: "Telex";
  --md-default-fg-color: #d9d5e4;
  --md-default-fg-color--light: #bfbbc9;
  --md-default-fg-color--lighter: #bfbbc9;
}
@font-face {
  font-family: "Telex";
  /*src:  url("../font/Telex/Telex-Regular.ttf") format('truetype');*/
  src:  url("../font/PT_Sans/PTSans-Regular.ttf") format('truetype');

}